<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.mapper.DistrictMapper">

    <resultMap id="result-district" type="District">
        <id property="did" column="did"/>
        <result property="dname" column="dname"/>
        <result property="postcode" column="postcode"/>

        <association property="city" javaType="City">
            <id property="cid" column="cid"/>
            <result property="cname" column="cname"/>
            <result property="areacode" column="areacode"/>

            <association property="province" javaType="Province">
                <id property="pid" column="pid"/>
                <result property="pname" column="pname"/>
                <result property="orderid" column="orderid"/>
            </association>
        </association>
    </resultMap>

    <select id="find" resultMap="result-district">
        select cd.*,p.pname,p.orderid from province p right join
        (select d.*,c.cname,c.pid,c.areacode from district d LEFT JOIN city c on d.cid=c.cid) cd
        on cd.pid=p.pid
        <where>
            1=1
            <if test="name != null and name != ''">
                and concat(dname,cname,pname) like concat('%',#{name},'%')
            </if>
        </where>
        limit #{page},#{size}
    </select>

    <select id="findByParam" resultMap="result-district">
        select cd.*,p.pname,p.orderid from province p right join
        (select d.*,c.cname,c.pid,c.areacode from district d LEFT JOIN city c on d.cid=c.cid) cd
        on cd.pid=p.pid
        <where>
            1=1
            <if test="name != null and name != ''">
                and concat(dname,cname,pname) like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <select id="getTotal" resultType="Long">
        select count(*) from
          (select cd.*,p.pname,p.orderid from province p right join
        (select d.*,c.cname,c.pid from district d LEFT JOIN city c on d.cid=c.cid) cd
        on cd.pid=p.pid
        <where>
            1=1
            <if test="name != null and name != ''">
                and concat(dname,cname,pname) like concat('%',concat(#{name},'%'))
            </if>
            ) p;
        </where>
    </select>
</mapper>